# frontend
VITE_API_URL=http://localhost:8080
VITE_AI_URL=http://localhost:9000

VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# backend
SPRING_PROFILES_ACTIVE=local

SUPABASE_DB_URL=
SUPABASE_DB_USERNAME=
SUPABASE_DB_PASSWORD=

JWT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# ai
ANTHROPIC_API_KEY=
NOTION_TOKEN=